format = "$directory$git_branch$git_status$line_break$character"
add_newline = false
right_format = "$golang$nodejs$python $cmd_duration"
palette = "catppuccin_mocha"

# Prompt character (arrow for input)
[character]
#success_symbol = "[╰─](bold fg:green) "
success_symbol ="[➜](bold fg:green) " 
error_symbol = "[➜](bold fg:red) "
vimcmd_symbol = "[➜](bold fg:peach) "

[os]
format = '[$symbol](bold white) '
disabled = false
symbols.Macos = '󰀵'

[fill]
symbol = " "

# Directory styling
[directory]
style = "bold fg:sky"
truncate_to_repo = true
truncation_length = 3
read_only = " "

# Git branch and status on the left
[git_branch]
symbol = " "
format = "[$symbol$branch]($style) "
style = "bold fg:mauve"

[git_status]
style = "bold fg:peach"
format = "[$all_status$ahead_behind]($style) "

# Python with logo; remove the word 'via'
[python]
symbol = " "
format = "[$symbol$version]($style) "
style = "bold fg:green"
pyenv_version_name = true
detect_extensions = ["py", "ipynb"]
detect_files = [
    "pyproject.toml",
    "requirements.txt",
    "Pipfile",
    "tox.ini",
    "setup.py",
    "poetry.lock",
]

[cmd_duration]
min_time = 300
show_milliseconds = false
format = "[$duration]($style)"
style = "bold fg:yellow"

# Go with gopher logo
[golang]
symbol = " "
format = "[$symbol$version]($style) "
style = "bold fg:cyan"
detect_extensions = ["go"]
detect_files = ["go.mod", "go.sum"]

# TypeScript/JavaScript with Node logo
[nodejs]
symbol = " "
format = "[$symbol$version]($style) "
style = "bold fg:green"
detect_extensions = ["js", "mjs", "cjs", "ts", "mts", "cts"]
detect_files = ["package.json", "tsconfig.json", ".node-version", ".nvmrc"]

[palettes.catppuccin_latte]
rosewater = "#dc8a78"
flamingo = "#dd7878"
pink = "#ea76cb"
mauve = "#8839ef"
red = "#d20f39"
maroon = "#e64553"
peach = "#fe640b"
yellow = "#df8e1d"
green = "#40a02b"
teal = "#179299"
sky = "#04a5e5"
sapphire = "#209fb5"
blue = "#1e66f5"
lavender = "#7287fd"
text = "#4c4f69"
subtext1 = "#5c5f77"
subtext0 = "#6c6f85"
overlay2 = "#7c7f93"
overlay1 = "#8c8fa1"
overlay0 = "#9ca0b0"
surface2 = "#acb0be"
surface1 = "#bcc0cc"
surface0 = "#ccd0da"
base = "#eff1f5"
mantle = "#e6e9ef"
crust = "#dce0e8"

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
